* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}
body {
  font-family: "Montserrat", sans-serif;
}
h1 {
  font-size: 2.5rem;
}

li,
button,
label,
input,
a,
p {
  font-size: 2.5rem;
}

h2 {
  font-size: 4rem;
}

h3 {
  font-size: 2.5rem;
}

h4,
h5 {
  font-size: 2rem;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #2c2c2c;
}
.App {
  /* display: flex;
  flex-direction: column;
  justify-content: center; */
}

label {
  font-size: 2rem;
}

input {
  width: 30rem;
  height: 5rem;
  font-size: 2rem;
  padding-left: 1rem;
  margin: 0.5rem;
}

button {
  width: 32rem;
  height: 5rem;
  margin-top: 1.5rem;
}

button:hover {
  cursor: pointer;
}

.members {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  border: 1px solid black;
}

.member {
  width: 70rem;
  height: auto;
  border: 1px solid black;
  margin: 1rem 0rem;
  display: flex;
  padding: 1rem 0rem;
  font-family: "Montserrat", sans-serif;
  justify-content: center;
  font-size: 1.5rem;
}

.member h3 {
  margin: 2rem;
}

/* Header section */

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  min-height: 10vh;
  flex-wrap: wrap;
}

ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  flex: 0.2 1 40rem;
}

h1 {
  margin: 2rem;
}

.logo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  flex: 1 1 10rem;
}

.main-head {
  width: 95%;
  margin: 0 0 0 auto;
}

/* Footer Section */

footer {
  background-color: #154353;
  display: flex;
  justify-content: flex-start;
  min-height: 10vh;
  align-items: center;
  flex-direction: row;
  color: white;
}

footer ul {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  flex: 1 1 40rem;
}

footer h4 {
  flex: 1 1 40rem;
  font-size: 1.5rem;
  padding-left: 2rem;
}

/* Member form*/

.information {
  margin-top: 3rem;
  min-height: 80vh;
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.form {
  padding: 3rem 10rem;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.2), 0px 20px 40px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 2rem;
}

.form input,
textarea {
  margin: 2rem;
}

.form button {
  width: 100%;
  font-family: "Montserrat", sans-serif;
  background: #154353;
  color: white;
  transition: all 0.3s ease;
  border-radius: 2rem;
}

.form button:hover {
  background: #1f657c;
}

.members {
  min-height: 10vh;
}

.members button {
  width: 20%;
  font-family: "Montserrat", sans-serif;
  background: #154353;
  color: white;
  transition: all 0.3s ease;
  border-radius: 2rem;
}

.members button:hover {
  background: #1f657c;
}

.member button {
  width: 20rem;
}

/* Home */

.home {
  background: linear-gradient(rgba(0, 0, 0, 0.7), transparent),
    url(./img/traffic.jpg);
  min-height: 80vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
}

.home h3 {
  padding: 5rem;
}

.homeBTN {
  background: #154353;
  border: none;
  font-family: "Montserrat", sans-serif;
  cursor: pointer;
  color: white;
  width: 15rem;
  font-size: 1.8rem;
  transition: background 0.4s ease;
  border-radius: 1rem;
}

.homeBTN:hover {
  background: #1b627a;
}

.active {
  display: none;
}

.containerList {
  min-height: 80vh;
}

.members {
  margin: 2rem 0rem;
}
